/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	/*min-width:435px;*/
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

nav {
	width: 910px;
	font-size: 14px;
	vertical-align: middle;
	display: inline-block;
}

.logo {
	vertical-align: middle;
	margin-left: 15px;
}

.circle-code {
	height: 100%;
	width: 100%;
	padding-right: 40px;
}

.middle-img {
	width: 100%;
}

.services-header-img {
	width: 100%;
	margin-bottom: 25px;
}

a {
	/*padding-top: 10px;*/
	text-decoration: none;
	color: gray;
	vertical-align: middle;
	font-weight: bold;
	font-size: 15px;
}

html {
	/*margin-top: 20px;
	margin-left: 70px;
	margin-right: 70px;*/
	/*display: flex;*/
	margin-left: auto;
	margin-right: auto;
	max-width: 910px;
	align: center;
	
}

head {
	align: center;
}

body {
	/*display: flex;
	flex-wrap: wrap;
	justify-content: center;*/
}

footer {
	align: center;
	margin-top: 50px;
	margin-bottom: 25px;
	text-align: center;
	
}

.services-header {
	margin-bottom: 45px;
	line-height: 1.2;
}

.services-container {
	width: 100%;
	min-height: 830px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}

.services-section {
	display: flex;
	max-width: 435px;
	flex-direction: column;
	/*height: 250px;*/
	background-color: Whitesmoke;
	border: 1px solid black;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 20px;
	padding-left: 20px;
	line-height: 1.2;
}

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 20px;
  align-items: center;

  /*-webkit-box-align:center;*/
}

.middle-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 70px;
  align-items: center;

  /*-webkit-box-align:center;*/
}

.slogan-container {
	margin-left: auto;
	margin-right: auto;
	/*display:-webkit-box;
	-webkit-box-pack:center;
	-webkit-box-align:center;*/
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	/*vertical-align: middle;*/
	font-size: 75px;
	letter-spacing: 1px;
	text-align: center;
	font-family: 'Bangers', cursive;
}

.lower-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	min-height: 310.7px;
	justify-content: space-between;
	/*align-items: space-between;*/
	margin-bottom: 90px;
}

.services-info-img {
	/*width: 47.8%;
	height: auto;*/
	/*width: 435px;
	height: auto;*/
	/*max-width: 100%;
	height: auto;*/
	/*object-fit: fill;*/
	width: 100%;
	height: 100%;
	/*min-width: 435px;
	height: auto;*/
	/*width:435px;*/
}

.service-facts-container {
	display:flex;
	flex-direction: column;
	/*flex-wrap: wrap;*/
	max-width: 435px;
	/*max-height: 310px;*/
	/*margin-right: 40px;*/
	line-height: 1.2;
	
}

.service-facts-image-section{
	display:flex;
	max-width: 435px;
	max-height: 310.7px;
}

.service-facts-section {
	display: flex;
	max-width: 415px;
	margin-top: 25px;
	margin-left: 20px;
	/*flex-direction: column;*/
	line-height: 1.9;
}

.service-facts {
	color: black;
	font-weight: normal;
}

ul{
	display: flex;
	flex-direction: column;
	color: black;
	font-weight: normal;
}

.slogan {
	vertical-align: middle;
	font-size: 60px;
	text-align: center;
	font-family: 'Bangers', cursive;
}

.content-row{
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
}

.features {
	margin-right: 10px;
}

.services {
	margin-right: 25px;
}

.product {
	margin-right: 25px;
}

button {
	background: white;
	border: 1px solid black;
	font-size: 16px;
	align: center;
	font-family: 'Titillium Web', sans-serif;
	vertical-align: middle;
	width: 155px;
	height: 32px;
}

.learn-more-container {
	margin-top: 20px;
}

.learn-more-button {
	width: 150px;
	height: 38px;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 12px;
	color: black;
	align: center;
	font-family: 'Titillium Web', sans-serif;
	margin-top: 20px;
	vertical-align: middle;
}

/*button-learn-more {
	width: 300px;
	height: 50px;
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 12px;
	align: center;
	font-family: 'Titillium Web', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 35px;
	padding-right: 35px;
	vertical-align: middle;
}*/

line {
	display: flex;
    height: 1px;
	width: 100%;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
	margin-bottom: 40px;
}

line2 {
	display: flex;
    height: 1px;
	width: 100%;
    border: 0;
    border-top: 2px solid black;
    margin: 1em 0;
    padding: 0;
	margin-top: 40px;
	margin-bottom: 40px;
}

h2 {
	font-size: 26px;
	font-weight: bold;
}